@import './../../../index.scss';

.indicator {
	display: flex;
	flex-direction: column;
	color: $color-mineshaft;
}

.indicator__value {
	color: $color-mineshaft;
}

.indicator__context-bar {
	color: $color-mineshaft;
}
