@import '~include-media/dist/include-media';

/* ================================================
Variables
=================================================== */
$color-mineshaft: #222222;
$color-white: #fff;
$color-wild-sand: #f4f4f4;
$color-silver: #c1c1c1;
$color-cornflower-blue: #5d8def;
$padding-base: 1rem;
$margin-base: 1rem;

.list {
	display: flex;
	justify-content: space-around;
	padding-inline-start: 0;

	@include media('>tablet') {
		flex-direction: column;
		align-items: center;
		margin-bottom: $margin-base * 2;
	}
}

.list-item {
	list-style-type: none;

	@include media('>tablet') {
		margin: $margin-base * 2 0;
	}
}
