@import '~include-media/dist/include-media';

/* ================================================
Variables
=================================================== */
$color-mineshaft: #222222;
$color-white: #fff;
$color-wild-sand: #f4f4f4;
$color-silver: #c1c1c1;
$color-cornflower-blue: #5d8def;
$navigation-mobile-height: 7.5rem;
$padding-base: 1rem;
$margin-base: 1rem;

.container {
	display: flex;
	flex-direction: column;
	padding-bottom: $padding-base * 6;

	@include media('>tablet') {
		flex-direction: row;
		padding-bottom: 0;
	}
}

.sidebar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: $navigation-mobile-height;
	background-color: $color-mineshaft;
	color: $color-wild-sand;

	@include media('>tablet') {
		position: static;
		height: 100vh;
		width: (1/12) * 100%;
	}
}

.main-content {
	padding: $padding-base * 2 $padding-base;

	@include media('>tablet') {
		width: (11/12) * 100%;
	}
}
