@import '~include-media/dist/include-media';

/* ================================================
Variables
=================================================== */
$color-mineshaft: #222222;
$color-white: #fff;
$color-wild-sand: #f4f4f4;
$color-silver: #c1c1c1;
$color-cornflower-blue: #5d8def;

.container {
	display: flex;
	flex-direction: column;

	@include media('>tablet') {
		flex-direction: row;
	}
}

.main-content {
	@include media('>tablet') {
		width: (11/12) * 100%;
	}
}
